*{
    font-family: 'Roboto', sans-serif;
}
input[type=button]{
    font-weight: 10;
    margin-right: 1.5em;
    text-align: center;
    display: inline-block;
    border-radius: 0.3em;
}
input[type=button]:hover{
    opacity: 0.6;
}
.no-decoration {
    background-color: #f4f3f2;
    color: #737373;
    border: none;
}
.simpleBorder {
    border: 1.5px solid  #808080;
}
.normal {
    padding: 12px;
    font-size: 1em;
}
.pequeño {
    padding: 7px;
    font-size: 0.7em;
}
.grande {
    padding: 15px;
    font-size: 1.5em;
}
.esmeralda{
    background-color: #57d68d;
    border: 1.5px solid #57d68d;
    color: #57d68d;
}
.cielo {
    background-color: #5cace2;
    border: 1.5px solid #5cace2;
    color: #5cace2;
}
.amatista {
    background-color: #ae7ac4;
    border: 1.5px solid #ae7ac4;
    color: #ae7ac4
}
.asfalto {
    background-color: #5c6d7e;
    border: 1.5px solid #5c6d7e;
    color: #5c6d7e;
}
.topazio {
    background-color: #ea974e;
    border: 1.5px solid #ea974e;
    color: #ea974e;
}
.rubi {
    background-color: #ea6f62;
    border: 1.5px solid #ea6f62;
    color: #ea6f62;
}
.bordeado [type="button"]{
    background-color: #ffffff;
}
.colores [type="button"]{
    color: #ffffff;
}
.whiteFill {
    background-color: #ffffff;
}
.whiteLetters {
    color:#ffffff;
}